.body
{
        background-color: #271452
}
.btn{
    color: #FFFFFF;
    background-color: #FE877F;
    width: 100%;
    font-size: 15px;
    
}
.text-message{
    font-size: 14px;
    color: #c9c7cc;
}

.alertBox{
   
    background-color: #f6f9f8;
    font-size: 15px;
    color: #8e8c88;
    font-weight: 600;
    text-align: center;
}